.dialog-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}


.dialog-backdrop.dialog-visible {
  opacity: 1;
  pointer-events: auto;
}

.dialog-window {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 417px;
	max-height: 390px;
  padding: 38px;
  transform: translate(-50%, -48%) scale(0.98);
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.18);
  z-index: 1001;
  overflow: auto;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.25s, transform 0.25s;
}

@media screen and (max-width: 768px) {
  .dialog-window{
    min-width: 344px;
		min-height: 320px;
    padding: 22px 16px;
  }  
}

.dialog-window.dialog-visible {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

::slotted([slot="actions"]) {
  display: flex;
  justify-content: flex-end;
}

::slotted([slot="content"]) {
  display: block;
}

.dialog-close-btn {
  position: absolute;
  top: 22px;
  right: 18px;
  width: 10px;
  height: 10px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: background 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-close-icon {
  display: block;
  width: 18px;
  height: 18px;
  stroke: #B9B9B9;
  transition: stroke 0.15s;
}

.dialog-close-btn:hover {
  color: #222;
}

.dialog-close-btn:hover .dialog-close-icon {
  stroke: #222;
}
