section {
  margin-top: 10vw;
	position: relative;
}

section p {
  font-weight: 300;
  color: #4d545f;
  letter-spacing: 1px;
  padding-top: 30px;
}

.big-duck-title {
  font-family: "Jura", sans-serif;
  width: 50%;
  font-size: 8vw;
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 50%;
  text-align: left;
}

section img {
	position: relative;
  display: block;
}

.big-duck-title h1 {
  font-weight: 700;
  padding: 0;
  margin: 0;
  gap: 0;
  letter-spacing: 0;
  height: 21vw;
}

@media (max-width: 2240px) {
	section {
		margin-top: 3vw;
		display: flex;
		flex-direction: column;
		align-items: end;
	}
	.big-duck-title {
		flex-direction: row;
		justify-content: space-between;
		font-size: 8vw;
		max-width: none;
		width: 100%;
		padding-bottom: 5vw;
	}

	.big-duck-text{
		font-size: 1.2vw;
		padding-top: 0vw;
		padding-right: 6vw;
	}

	.big-duck-button-text{
		font-size: 16px;
	}

	section img {
		width: 46.5vw;
		margin-top: 3vw;
		margin-right: 34vw;
		position: absolute;
	}
	.big-duck-title h1 {
		height: 14vw;
	}

	.big-duck-title-right{
		padding-top: 6.6vw !important; 
	}
}

@media (max-width: 1024px) {
	.big-duck-text{
		font-size: 1.4vw;
		padding-top: 6vw;
		padding-right: 0vw;
	}


	.big-duck-text{
		font-size: 16px;
	}

	.big-duck-button-text{
		font-size: 16px;
	}
}

@media (max-width: 960px) {
	.big-duck-title-right{
		padding-top: 0 !important;
	}

	.big-duck-text{
		padding: 0;
	}

	section{
		margin-top: 5vw;
		align-items: start;
	}
  .big-duck-title {
		flex-direction: column;
		justify-content: start;
    text-align: start;
    font-size: 10vw;
    width: 60%;
		padding-bottom: 0;
  }
	section img {
		width: 54vw;
		margin-top: 2.6vw;
		margin-left: 58vw;
		position: absolute;
	}
	.big-duck-title h1 {
		height: 13vw;
	}
}

@media (max-width: 737px) {
  .big-duck-title {
    text-align: start;
    font-size: 10vw;
    width: 50%;
  }
	section img {
		width: 58vw;
		margin-top: 2.6vw;
		margin-left: 56vw;
		position: absolute;
	}
	.big-duck-title h1 {
		height: 12vw;
	}
}

@media (max-width: 505px) {
  .big-duck-title {
    width: 100%;
    font-size: 16.6vw;
  }
	section img {
		width: 80vw;
		position: absolute;
		margin-left: 39vw;
		margin-top: 67vw;
	}
	.big-duck-title h1 {
		height: 21vw;
	}
}
